
<ul class='Container'>
<li class='Node ExpandLeaf'>
<div class='Expand'></div>
<div class='Content'><span class='NodeImage'></span><a target='content' href='main/main.html'>main</a></div>
</li>
<li class='Node ExpandClosed'>
<div class='Expand'></div>
<div class='Content'><span class='NodeImage'></span><a target='content' href='dir/dir.html'>dir</a></div>
<ul class='Container'>
<li class='Node ExpandLeaf IsLast'>
<div class='Expand'></div>
<div class='Content'><span class='NodeImage'></span><a target='content' href='dir/sd1/sd1.html'>sd1</a></div>
</li>
</ul>
</li>
<li class='Node ExpandLeaf'>
<div class='Expand'></div>
<div class='Content'><span class='NodeImage'></span><a target='content' href='doc4/doc4.html'>doc4</a></div>
</li>
<li class='Node ExpandLeaf IsLast'>
<div class='Expand'></div>
<div class='Content'><span class='NodeImage'></span><a target='content' href='doc1/doc1.html'>doc1</a></div>
</li>
</ul>