---
layout: default
---
<!DOCTYPE html>
<html>
<head>    
<meta content="text/html; charset=utf-8" http-equiv=Content-Type>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://neoprogramming.github.io/iotest/book.css">
<link rel="stylesheet" href="https://neoprogramming.github.io/iotest/tree.css">
<link rel="icon" href="https://neoprogramming.github.io/iotest/favicon.ico" type="image/x-icon">
</head>
<body>
<script type = 'text/javascript' src = 'https://neoprogramming.github.io/iotest/funcs.js'></script>
<script type = 'text/javascript' src = 'https://neoprogramming.github.io/iotest/tree_toggle.js'></script>

<div onclick = 'tree_toggle(arguments[0])' id = 'globalxmltree'>

<nav id="sidebar" class="sidebar" aria-label="Table of contents" aria-hidden="false">
<div class="sidebar-scrollbox">

{% include contents.html %}

</div>
<div id="sidebar-resize-handle" class="sidebar-resize-handle"></div>
</nav>

</div>
<script type = 'text/javascript'> tree_init(); </script>

<div id="page-wrapper" class="page-wrapper">
<div class="page">
<div id="content" class="content">
<main>

{{ content }}

</main>
</div>
</div>
</div>	
<script type="text/javascript" src="https://neoprogramming.github.io/iotest/book.js" charset="utf-8"></script>   
</body>
</html>

